# this is the ".gitignore" file...

# ignore hidden clutter files (Mac OS):
.DS_Store

# ignore secret credentials in the ".env" file:
.env

# ignore package dependencies in the "node_modules" directory:
node_modules
