<h1><%= title %></h1>

<p>Whether you're looking for a fun new place to grab a bite in your hometown or visiting a new city, 
    finding a great restaurant can be hard. With our web application, simply enter a ZIP code and 
    will will provide a recommendation as well as a link to google maps for convient directions where ever you may be.</p>

<p>Lookup your ZIP code with our <a href="/yelp_form">Yelp form</a></p>

<img class="img-fluid" src="https://static.more.com/wp-content/uploads/migrated/friends-dining-out-together.jpg" alt="Picture of friends at a restaurant" width = "100%">