<h1>Other Links</h1>
<p>Here are some other helpful resources for finding great restaurants in your area! </p>

<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="https://assets3.thrillist.com/v1/image/2867798/1200x600/scale;" alt="Card image cap" height="50%">
      <div class="card-body">
        <h5 class="card-title">Thrillist</h5>
        <p class="card-text">Thrillist has dedicated pages for dozens of US cities has fun articles like "Everywhere you need to eat and drink in LA's Little Tokyo."</p>
        <a href="https://www.thrillist.com" class="btn btn-primary">Visit Thrillist</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://bluestonelane.com/wp-content/uploads/2015/08/Eater-Logo-560x402.png" alt="Card image cap" height="50%">
      <div class="card-body">
        <h5 class="card-title">Eater</h5>
        <p class="card-text">Eater provides wide ranging coverage of the restaurant industry and also has very helpful and interactive "best of" lists for 25 cities.</p>
        <a href="https://www.eater.com" class="btn btn-primary">Visit Eater</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://www.legalnomads.com/wp-content/uploads/2014/06/Legal-Nomads-New-Logo-.png" alt="Card image cap" height = "50%">
      <div class="card-body">
        <h5 class="card-title">Legal Nomads</h5>
        <p class="card-text">Legal Nomads is a food and travel blog run by a former turned food storyteller. Among other things, it specializes in "Gluten Free Travel"</p>
        <a href="https://www.legalnomads.com" class="btn btn-primary">Visit Legal Nomads</a>
      </div>
    </div>
  </div>