
<h2>Yelp Restaurants</h2>

<p>Request some yelp data...</p>

<form action="/stocks/dashboard" method="POST">

    <label>Zip:</label>
    <input type="text" name="symbol" placeholder="20007" value="20007">
    <br>

    <label>Risk Tolerance:</label>
    <select name="risk_level">
        <option value="high">High</option>
        <option value="medium">Medium</option>
        <option value="low">Low</option>
    </select>
    <br>

    <button>Submit</button>
</form>
