
<h2>Yelp Restaurants</h2>

<p>Request some yelp data...</p>

<form action="/stocks/dashboard" method="POST">

    <label>Zip:</label>
    <input type="text" name="symbol" placeholder="20007" value="20007">
   

    <button>Submit</button>
</form>
